@import 'frame.css';

/* Zonas */
.header{
    position: absolute;
    height: 11vh;
    top: -10px;
    left: 0px;
    padding-left: 2%;
    padding-top: 1%;
    width: 100vw;
    background-color: #2A850E;
    background: linear-gradient(180deg, #2A850E 0%, #2D661B 100%);
    z-index: 2;
}

.container{
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
    height: 85vh;
    width: 100vw;
    position: absolute;
    top:11.7vh;
    left: 0px;
    padding-left: 3%;
    padding-top: 1%;
    z-index: 0;
}

.menu{
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0px;
    width: 24vw;
    min-height: 100vh;
    padding-top: 2%;
    padding-left: 10px;
    background-color: #548f41;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.switch{
    width: 20vw;
    height: 10vh;
    font-size: 130%;
    margin-bottom: 10%;
    border-radius: 15px;
    font-family: modak;
    font-weight: normal;
    color:#cddecc;
    background-color: #739967;
}

.switch#on{
    background-color: #4d9e34;
}

.content{
    position: relative;
    display: inline-block;
    top: 0%;
    right: 0px;
    width: calc(100vw - 27vw);
    min-height: 100vh;
    background-color: #93d180;
    z-index: 0;
    padding-top: 3vh;
    padding-left: 24vw;
    padding-right: 4vw;
}
.credits{
    position: absolute;
    bottom: 0px;
    top:100%;
    left: 0px;
    height: 15vh;
    width: 100vw;
    border: 15px solid rgb(32, 46, 32);
    background-color: rgb(32, 46, 32);
    z-index: 2;
}

/* Elementos especificos */
#title-text{
    color:#FF0000;
    font-family: modak;
    font-weight: normal;
    font-size: 350%;
}
#logo{
    height: 48px;
    font-family: modak;
    font-weight: normal;
    font-size: 50%;
}

#logo img{
    height: 48px;
}

#credit-text{
    color: #ECFFEB;
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    top: 25%;
    left: 70%;
    width: 20%;
}

#ongoing{
    color:#BA0C0C;
    font-weight: bold;
    font-size: 120%;
}