/* Fuentes */
@font-face {
    font-family: modak;
    src: url(../static/fonts/Modak-Regular.ttf);
}
@font-face {
    font-family: fsnow;
    src: url(../static/fonts/fauxsnow.ttf);
}
@font-face {
    font-family: janda;
    src: url(../static/fonts/JandaChristmasDoodles.ttf);
}
@font-face {
    font-family: arimo;
    src: url(../static/fonts/Arimo-VariableFont_wght.ttf);
}
@font-face {
    font-family: bbhh;
    src: url(../static/fonts/BBHHegarty-Regular.ttf);
}
.snowflakes{
    font-family: fsnow;
}
.symbols{
    font-family: janda;
}


/* Elementos Generales */
html{
    font-family: arimo;
}

h1{
    font-size: 200%;
}

h2{
    margin: 0;
    padding: 0.6rem 0;
    text-align: center;
}

a{
    color:#ECFFEB;
}
a:hover{
    color:rgb(136, 214, 133);
}


/* Zonas */
.header{
    position: absolute;
    height: 12%;
    top: -10px;
    left: 0px;
    padding-left: 2%;
    padding-top: 1%;
    width: 100%;
    background-color: #2A850E;
    background: linear-gradient(180deg, #2A850E 0%, #2D661B 100%);
    z-index: 2;
}
.container{
    background-color: #93d180;
    height: 89%;
    width: 99%;
    position: absolute;
    top:11%;
    left: 0px;
    padding-left: 3%;
    padding-top: 1%;
    z-index: 2;
}
.credits{
    position: absolute;
    bottom: 0px;
    left: 0px;
    top:100%;
    height: 15%;
    width: 100%;
    border: 15px solid rgb(32, 46, 32);
    background-color: rgb(32, 46, 32);
    z-index: 1;
}


/* Elementos especificos */
#title-text{
    color:#FF0000;
    font-family: modak;
    font-weight: normal;
    font-size: 350%;
}
#logo{
    height: 48px;
    font-family: modak;
    font-weight: normal;
    font-size: 50%;
}

#credit-text{
    color: #ECFFEB;
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    top: 25%;
    left: 70%;
    width: 20%;
}

/*Actividades*/
.content{
    left: calc(-3% + 8px);
    position: relative;
}
