:root {
  --green-900: #202e20;
  --green-800: #2d661b;
  --green-700: #2a850e;
  --green-500: #4d9e34;
  --green-400: #71ad5e;
  --green-300: #93d180;

  --accent: #ff0000;
  --green-muted: #548f41;
  --white-100: #ecffeb;
  --danger: #ba0c0c;
  --text: #0b1a0b;

  --card-rgb: 113, 173, 94;
}
/* Fuentes */
@font-face {
  font-family: modak;
  src: url(../static/fonts/Modak-Regular.ttf);
}
@font-face {
  font-family: fsnow;
  src: url(../static/fonts/fauxsnow.ttf);
}
@font-face {
  font-family: janda;
  src: url(../static/fonts/JandaChristmasDoodles.ttf);
}
@font-face {
  font-family: arimo;
  src: url(../static/fonts/Arimo-VariableFont_wght.ttf);
}
@font-face {
  font-family: bbhh;
  src: url(../static/fonts/BBHHegarty-Regular.ttf);
}
.snowflakes {
  font-family: fsnow;
}
.symbols {
  font-family: janda;
}

/* Estilos globales */
html {
  font-family: arimo;
}
body {
  background-color: #93d180;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 0;
  padding: 0.6rem 0;
  text-align: center;
}

hr {
  background-color: black;
}

a {
  color: #ecffeb;
}
a:hover {
  color: rgb(136, 214, 133);
}

.skip_link,
.skip_link:hover,
.skip_link:active,
.skip_link:visited,
.skip_link:focus {
  text-decoration: none !important;
}
