@import "frame.css";

/* Zonas */
.header {
  position: absolute;
  height: 11vh;
  top: -10px;
  left: 0px;
  padding-left: 2%;
  padding-top: 1%;
  width: 100vw;
  background: linear-gradient(
    180deg,
    var(--green-700) 0%,
    var(--green-800) 100%
  );
  z-index: 2;
}
.container {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
  background-image: url(../static/img/background.webp);
  height: 85vh;
  width: 100vw;
  position: absolute;
  top: 12.8vh;
  left: calc(-3% + 19px);
  padding-left: 3%;
  padding-top: 1%;
  z-index: 2;
}
.credits {
  position: absolute;
  bottom: 0px;
  top: 99vh;
  left: 0px;
  height: 15vh;
  width: 100vw;
  background-color: var(--green-900);
  z-index: 1;
}

/* Elementos especificos */
#title-text {
  color: var(--accent);
  font-family: modak;
  font-weight: normal;
  font-size: 350%;
}

#title-text::before, #title-text::after{
  content="N";
  font-family: fsnow;
}


#logo {
  height: 48px;
  font-family: modak;
  font-weight: normal;
  font-size: 50%;
}

#logo img {
  height: 48px;
}

#credit-text {
  color: var(--white-100);
  font-weight: bold;
  font-size: 100%;
  position: absolute;
  top: 25%;
  left: 70%;
  width: 20%;
}

/*Actividades*/
.actividad {
  padding: 3px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  top: 10px;
  width: calc(98vw / 7 - 7px);
  height: 79vh;
  color: var(--white-100);
  background-color: rgba(var(--card-rgb), 0.7);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  border-radius: 20px;
}
.actividad:hover {
  transform: scaleX(110%) scaleY(110%);
  background-color: rgba(var(--card-rgb), 1);
  box-shadow: 0px 0px 15px 1400px rgba(0, 0, 0, 0.2);
}
